/* Type 3- External Style */
p{color: cornflowerblue;}
body{background-color:aliceblue;}
#bft3{color: rgba(155, 209, 111, 0.712);}
#para1{ color: rgb(47, 125, 170); text-align: center; font-size: 40px;}